{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block side %}
{% endblock %}
{% block body %}
    <h1>Register</h1>
<div class="com2">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
     {#    {{ form_row(registrationForm.agreeTerms) }}  #}






    <td> <div style="width: 50%"> <tr> {{ form_row(registrationForm.firstName) }}</tr></div>
        <div style="width: 50%"><tr> {{ form_row(registrationForm.lastName) }}</tr> </div>  </td>

    {{ form_row(registrationForm.country) }}
    {{ form_row(registrationForm.state) }}

    {{ form_end(registrationForm) }}


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>


{% endblock %}
