{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block head%}
{% endblock %}
{% block body %}
    <h1>Register</h1>

<div class="bg-image"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">

<div class="com2">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}




     {#    {{ form_row(registrationForm.agreeTerms) }}  #}



<div class="row">
    <div class="col-sm">
        {{ form_row(registrationForm.firstName) }}

    </div>
    <div class="col-sm">
        {{ form_row(registrationForm.lastName) }}
    </div>

</div>

    <div class="row">
        <div class="col-sm">
            {{ form_row(registrationForm.country) }}

        </div>
        <div class="col-sm">
            {{ form_row(registrationForm.state) }}
        </div>

    </div>



    {{ form_end(registrationForm) }}


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

</div>
</div>
{% endblock %}
