
            {{ form_start(form) }}
            <div class="com">
          {{ form_widget(form.content) }}
           {{ form_widget(form.publishAt) }}
                {{ form_widget(form.submit) }}

            </div>
        {{ form_end(form) }}

