{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}







    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    {% for comment in comments %}
                    {% if app.user== null  or app.user.id != comment.user.id %}

                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{ asset('UserAvatar.png') }}" width="50">

                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><p>{{ comment.user.email }}</p></span><span class="date text-black-50">Shared publicly -{{ comment.publishAt  |date('Y-m-d H:i:s') }}</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text  text-break">">{{ comment.content }} fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
                        </div>

                        {% elseif  app.user.id == comment.user.id  %}
                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{ asset('UserAvatar.png') }}" width="50">

                                <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><p>{{ comment.user.email }}</p></span><span class="date text-black-50">Shared publicly -{{ comment.publishAt  |date('Y-m-d H:i:s') }}</span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">{{ comment.content }} </p>
                            </div>                            <button class="btn-danger" ><a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Edit</a></button>
                            <button class="btn-danger"> <a href="{{ path('app_comment_remove', {'id': comment.id}) }}">delete</a></button>
                        {% endif %}
                        <br>
                    </div>
                        {% endfor %}

                        {#
                    <div class="bg-white">
                        <div class="d-flex flex-row fs-12">
                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                        </div>
                    </div>
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                        #}







    {#   <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>PublishAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.publishAt ? comment.publishAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Create new</a>  #}
{% endblock %}

{% block footer %} {% endblock %}