




{{ form_start(form) }}
<div class="com">


<div style="width: 40% ; margin-left: 20%"> {{ form_row(form.title) }}</div>
{{ form_row(form.content) }}
<div class="com2">{{ form_row(form.category) }}</div>
{{ form_row(form.image) }}
    <div style="color: white" {{ form_row(form.datePublish) }}</div>
</div>




{{ form_end(form) }}
