{#  {% extends 'base.html.twig' %}


{% block body %}


    <h1>Artical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>DatePublish</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artical in articals %}
            <tr>
                <td>{{ artical.id }}</td>
                <td>{{ artical.title }}</td>
                <td>{{ artical.content }}</td>
                <td>{{ artical.datePublish ? artical.datePublish|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_artical_show', {'id': artical.id}) }}">show</a>
                    <a href="{{ path('app_artical_edit', {'id': artical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artical_new') }}">Create new</a>
{% endblock %}
#}

 {% extends 'base.html.twig' %}

{% block body %}

    {% for i in articals %}
     <div class="com">
    <div class="col-md-7">
        <a href="{{ path('app_artical_show', {'id': i.id}) }}">
            <img src="{{ asset('uploads/images/'~ i.image) }}" class="img-fluid" style="width: 30%; height: 30%;"></a>
      </div>
    <div class="col-md-5">
         <p>{{ i.category }}</p>
        <p> {{ i.datePublish ? i.datePublish|date('Y-m-d H:i:s') : '' }}</p></div>
</div>


{% endfor %}
    <div class="com">
    <div class="container">
        {% for i in articals %}
        <div class="row">
            <div class="col-sm-8">
                <a href="{{ path('app_artical_show', {'id': i.id}) }}">
                    <img src="{{ asset('uploads/images/'~ i.image) }}" style="height:50%" width="50%"></a>
                ------------------------------------------------------------------------------
            </div>
            <div class="col-sm-1">
                <p>{{ i.category }}</p>
                <p> {{ i.datePublish ? i.datePublish|date('Y-m-d H:i:s') : '' }}</p></div>            </div>
        {% endfor %}
        </div>

    </div>
</div>
<br>
    <br>






{% endblock %}


{% block side %}{% endblock %}

