{% extends 'base.html.twig' %}


{% block body %}


    <h1>Artical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>DatePublish</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artical in articals %}
            <tr>
                <td>{{ artical.id }}</td>
                <td>{{ artical.title }}</td>
                <td>{{ artical.content }}</td>
                <td>{{ artical.datePublish ? artical.datePublish|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_artical_show', {'id': artical.id}) }}">show</a>
                    <a href="{{ path('app_artical_edit', {'id': artical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artical_new') }}">Create new</a>
{% endblock %}
