{#  {% extends 'base.html.twig' %}


{% block body %}


    <h1>Artical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>DatePublish</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artical in articals %}
            <tr>
                <td>{{ artical.id }}</td>
                <td>{{ artical.title }}</td>
                <td>{{ artical.content }}</td>
                <td>{{ artical.datePublish ? artical.datePublish|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_artical_show', {'id': artical.id}) }}">show</a>
                    <a href="{{ path('app_artical_edit', {'id': artical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artical_new') }}">Create new</a>
{% endblock %}
#}

 {% extends 'base.html.twig' %}

{% block body %}

<h2>All Articals in this blog are:: </h2>

    <form method="post" action="{{ path('recherche') }}">

        <input type="text" name="search"><input type="submit" value="Recherche">
    </form>
    <div class="com">
    <div class="container">

        <p> {{ dump() }}</p>
        {% for i in articals %}
            <p> {{ dump(i.category.nameCategory) }}</p>
        <div class="row">
            <div class="col-sm-8">
                <a href="{{ path('app_artical_show', {'id': i.id}) }}">
                    <img src="{{ asset('uploads/images/'~ i.image) }}" style="width: 50%"></a>
                ------------------------------------------------------------------------------
            </div>
            <div class="col-sm-1">
                <ul><li><p>{{ i.category }}</p>  </li>
                <li><p>{{ i.datePublish ? i.datePublish|date('Y-m-d H:i:s') : '' }}</p></li>

                </ul>

                </div>            </div>
        {% endfor %}
        </div>

    </div>
</div>
<br>
    <br>






{% endblock %}




