{% extends 'base.html.twig' %}
{% block header %}
    ddd
{% endblock %}
{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Artical</h1>
    <i class="fas fa-heading">another title</i>
<h2><td>{{ artical.id }}</td></h2>
                <p>{{ artical.content }}
    <div class="float-end">
        <i class="fa fa-calendar" aria-hidden="true">
            <td>{{ artical.datePublish ? artical.datePublish|date('Y-m-d H:i:s') : '' }}</td>
        </i></div>

    <input type="hidden" name="referer"
           value="{{app.request.headers.get('referer')}}"/>
    {% set ar=  artical.id  %}

    {{ render(controller(
            'App\\Controller\\CommentController::new',  {'request': app.request, 'id':ar}
        )) }}

    <input type="hidden" name="referer"
           value="{{app.request.headers.get('referer')}}"/>
        {{ render(controller(
            'App\\Controller\\CommentController::index',{'id':ar }
        )) }}
        --------------------------------------

{% endblock %}
