{% extends 'base.html.twig' %}
{% block header %}
    ddd
{% endblock %}
{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Artical</h1>
    <i class="fas fa-heading">another title</i>
<h2><td>{{ artical.id }}</td></h2>
    <p>{{ artical.content }}</p>
    <div class="float-end">
        <i class="fa fa-calendar" aria-hidden="true">
            <td>{{ artical.datePublish ? artical.datePublish|date('Y-m-d H:i:s') : '' }}</td>
        </i></div>

    <p>    {{app.request.headers.get('referer')}}
    </p>
    {% set ar=  artical.id  %}

    {{ render(controller(
            'App\\Controller\\CommentController::new',  {'request': app.request, 'id':ar}
        )) }}

        {{ render(controller(
            'App\\Controller\\CommentController::index',{'id':ar }
        )) }}
        --------------------------------------
    {{app.request.headers.get('referer')}}


{% endblock %}
